@page
@model MyApp.Namespace.webcoreModel
@{
}

<!DOCTYPE html>
<html>
    <head>
        <title>DooM Client v0.1</title>
    </head>
    <body>
        <a href="~/Main/Download/">Скачать</a>
    </body>
</html>