
<form>
    <div class="form-group">
        <label for="nameInput">Имя файла</label>
        <input type="text" class="form-control" id="nameInput" placeholder="название...">
    </div>
    <div class="form-group">
        <label for="fileInput">Файл</label>
        <input type="file" class="form-control-file" id="fileInput">
    </div>
    <div class="form-group">
        <label for="imageInput">Картинка</label>
        <input type="text" class="form-control-file" id="imageInput">
    </div>
    <div class="form-group">
        <label for="descriptionInput">Описание</label>
        <input type="text" class="form-control" id="descriptionInput" placeholder="описание...">
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Готово</button>
        <button type="button" class="btn btn-default">Отмена</button>
    </div>
</form>